<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-weight, initial-scale=1.0">
    <title th:replace="${title}">博客详情</title>
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="bookmark" href="../static/images/favicon.ico" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/custom.css" th:href="@{/css/custom.css}">
    <link rel="stylesheet" href="../../static/css/typo.css" th:href="@{/css/typo.css}">
    <link rel="stylesheet" href="../../static/css/animate.min.css" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" href="../../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}">
    <link rel="stylesheet" href="../../static/lib/tocbot/tocbot.css" th:href="@{/lib/tocbot/tocbot.css}">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css"
          th:href="@{/lib/editormd/css/editormd.min.css}">
    <link rel="stylesheet" href="../../static/lib/simple-crop-master/template-1.css"
          th:href="@{/lib/simple-crop-master/template-1.css}">
</head>
<body>
<!--video background-->
<div th:fragment="background" class="videoContainer">
    <video class="fullScreenVideo" poster="../../static/images/bg.png" th:poster="@{/images/bg.png}" id="bgvid"
           playsinline="" autoplay="" muted="" loop="">
        <source src="../../static/images/bg.mp4" th:src="@{/images/bg.mp4}" type="video/mp4">
    </video>
</div>

<!--导航-->
<nav th:fragment="nav-active(pageName)" class="ui inverted attached segment j-padded-tb-z-2 j-shadow j-opacity-9">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui violet inverted header item">后台管理</h2>
            <a href="" th:href="@{/admin/blogs}" class="j-item item j-mobile-hide"
               th:classappend="${pageName == '博客'} ? 'active'"><i class="home icon"></i>博客</a>
            <a href="" th:href="@{/admin/types}" class="j-item item j-mobile-hide"
               th:classappend="${pageName == '分类'} ? 'active'"><i class="idea icon"></i>分类</a>
            <a href="" th:href="@{/admin/tags}" class="j-item item j-mobile-hide"
               th:classappend="${pageName == '标签'} ? 'active'"><i class="tags icon"></i>标签</a>
            <div class="right j-item j-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/images/514.png" th:src="@{${session.user.setting.avatar}}" alt=""
                             class="ui huge avatar image">
                        <span th:text="${session.user.nickname}">今愚</span>
                    </div>
                    <i class="dropdown"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/setting/{userId}(userId=${session.user.id})}" class="item">设置</a>
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button j-top-right j-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--底部footer-->
<footer th:fragment="footer" class="ui inverted vertical segment j-padded-tb-5 j-opacity-9">
    <div class="ui container center aligned">
        <div class="ui divided inverted stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.png" th:src="@{/images/wechat.png}" class="ui rounded image"
                             alt="" style="width: 9em">
                    </div>
                </div>
            </div>
            <div class="three wide column j-opacity-9">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <div class="item" th:text="#{footer.email}">Email：jinyu52370@qq.com</div>
                    <div class="item" th:text="#{footer.qq}">QQ：441366069</div>
                    <div class="item">WeChat：乁( ˙ ω˙乁)</div>
                </div>
            </div>
            <div class="three wide column j-opacity-9">
                <h4 class="ui inverted header">最新博客</h4>
                <div id="newestBlogs-container">
                    <div class="ui inverted link list" th:fragment="newestBlogList">
                        <a href="#" target="_blank" class="item"
                           th:href="@{/{id}(id=${blog.id})}"
                           th:each="blog : ${newestBlogs}"
                           th:text="${blog.title}">博客1</a>
                        <!--/*-->
                        <a href="" class="item">博客2</a>
                        <a href="" class="item">博客3</a>
                        <!--*/-->
                    </div>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header j-opacity-7">Jinyu</h4>
                <p class="j-opacity-5">这里是我的个人博客，我会记录一些编程、生活、爱好等内容(・ω< )★</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="j-text-lined j-text-spaced j-opacity-5">
            <a href="http://beian.miit.gov.cn/" target="_blank" style="color: white">陕ICP备2020013416号-1</a> |
            Copyright © 2019 - 2020 Designed by Jinyu |
            <span id="runtime_span"></span>
        </p>
    </div>
</footer>

<th:block th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
    <script src="../../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
    <script src="../../static/lib/tocbot/tocbot.min.js" th:src="@{/lib/tocbot/tocbot.min.js}"></script>
    <script src="../../static/lib/qrcode/qrcode.min.js" th:src="@{/lib/qrcode/qrcode.min.js}"></script>
    <script src="../../static/lib/jquery.scrollTo/jquery.scrollTo.min.js"
            th:src="@{/lib/jquery.scrollTo/jquery.scrollTo.min.js}"></script>
    <script src="../../static/lib/jquery.waypoints/jquery.waypoints.min.js"
            th:src="@{/lib/jquery.waypoints/jquery.waypoints.min.js}"></script>
    <script>$('#newestBlogs-container').load(/*[[@{/footer/newestBlogs}]]*/"/footer/newestBlogs")</script>
    <!--头像裁剪-->
    <script src="../../static/lib/simple-crop-master/prefix-umd.js"
            th:src="@{/lib/simple-crop-master/prefix-umd.js}"></script>
    <script src="../../static/lib/simple-crop-master/exif.js" th:src="@{/lib/simple-crop-master/exif.js}"></script>
    <script src="../../static/lib/simple-crop-master/transformation-matrix.js"
            th:src="@{/lib/simple-crop-master/transformation-matrix.js}"></script>
    <script src="../../static/lib/simple-crop-master/index.js" th:src="@{/lib/simple-crop-master/index.js}"></script>
    <script src="../../static/js/Canvas2Image.js" th:src="@{/js/Canvas2Image.js}"></script>
    <script>
        //离开和回到页面时改变标题
        var originTitle = document.title, titleTime;
        document.addEventListener('visibilitychange', function () {
            if (document.hidden) {
                document.title = '|･ω･｀)藏...';
                clearTimeout(titleTime);
            } else {
                document.title = '(｡･ω･｡)ﾉ被发现啦！';
                titleTime = setTimeout(function () {
                    document.title = originTitle;
                }, 1500);
            }
        });

        // 百度统计
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?c2710cf13bbe1ef412de486475ffc4bb";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

        //网站运行时间
        function show_runtime() {
            window.setTimeout("show_runtime()", 1000);
            X = new Date("6/8/2020 00:00:00");
            Y = new Date();
            T = (Y.getTime() - X.getTime());
            M = 24 * 60 * 60 * 1000;
            a = T / M;
            A = Math.floor(a);
            b = (a - A) * 24;
            B = Math.floor(b);
            c = (b - B) * 60;
            C = Math.floor((b - B) * 60);
            D = Math.floor((c - C) * 60);
            runtime_span.innerHTML = "KeepAlive: " + A + "d " + B + "h " + C + "m " + D + "s"
        }

        show_runtime();
    </script>
</th:block>
</body>
</html>
