<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-weight, initial-scale=1.0">
    <title>欢迎回家</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/custom.css">
</head>
<body>
    <!--video background-->
    <div th:replace="admin/_fragments :: background" class="videoContainer">
        <video class="fullScreenVideo" poster="../../static/images/bg.png" id="bgvid" playsinline="" autoplay="" muted="" loop="">
            <source src="../../static/images/bg.mp4" type="video/mp4">
        </video>
    </div>

    <!--导航-->
    <nav th:replace="admin/_fragments :: nav-active(欢迎)" class="ui inverted attached segment j-padded-tb-z-2 j-shadow j-opacity-9">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui violet inverted header item">后台管理</h2>
                <a href="" class="j-item item j-mobile-hide"><i class="home icon"></i>博客</a>
                <a href="" class="j-item item j-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="" class="j-item item j-mobile-hide"><i class="tags icon"></i>标签</a>
                <div class="right j-item j-mobile-hide menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img src="../../static/images/514.png" alt="" class="ui huge avatar image">
                            今愚
                        </div>
                        <i class="dropdown"></i>
                        <div class="menu">
                            <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button j-top-right j-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!--内容-->
    <div class="j-padded-tb-3 j-container-small animate__animated animate__fadeIn">
        <div class="ui container">
            <div class="ui success message">
                <h3>ごしゅじんさま~ おかえりなさい！(・ω< )★</h3>
            </div>
            <img src="../../static/images/welcome.jpg" th:src="@{/images/welcome.jpg}" class="ui rounded bordered fluid image">
        </div>
    </div>

    <!--底部footer-->
    <footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment j-padded-tb-5 j-opacity-9">
        <div class="ui container center aligned">
            <div class="ui divided inverted stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../../static/images/wechat.png" class="ui rounded image" alt="" style="width: 9em">
                        </div>
                    </div>
                </div>
                <div class="three wide column j-opacity-9">
                    <h4 class="ui inverted header">联系我</h4>
                    <div class="ui inverted link list">
                        <div class="item">Email：jinyu52370@qq.com</div>
                        <div class="item">QQ：441366069</div>
                        <div class="item">WeChat：乁( ˙ ω˙乁)</div>
                    </div>
                </div>
                <div class="three wide column j-opacity-9">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="" class="item">博客1</a>
                        <a href="" class="item">博客2</a>
                        <a href="" class="item">博客3</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header j-opacity-7">Jinyu</h4>
                    <p class="j-opacity-5">这里是我的个人博客，我会记录一些编程、生活、爱好等内容(・ω< )★</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="j-text-lined j-text-spaced j-opacity-5">
                Copyright © 2019 - 2020 Designed by Jinyu
            </p>
        </div>
    </footer>

    <!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->

    <!--custom-->
    <script>
        // 设置手机端的导航菜单按钮点击显示菜单
        $('.menu.toggle').click(function () {
            $('.j-item').toggleClass('j-mobile-hide')
        });
        // 导航右上角头像弹出菜单
        $('.ui.dropdown').dropdown({
            on: 'hover'
        });
    </script>
</body>
</html>