<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-weight, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/custom.css">
</head>
<body>
    <!--video background-->
    <div th:replace="admin/_fragments :: background" class="videoContainer">
        <video class="fullScreenVideo" poster="../../static/images/bg.png" id="bgvid" playsinline="" autoplay="" muted="" loop="">
            <source src="../../static/images/bg.mp4" type="video/mp4">
        </video>
    </div>

    <div class="j-container-small j-padded-tb-8 animate__animated animate__fadeIn" style="max-width: 30em !important;">
        <div class="ui segment j-padded-tb-2z5 j-padded-rl-2">
            <div class="ui container">
                <div class="ui middle aligned center aligned grid">
                    <div class="column">
                        <h2 class="ui teal header"><div class="content">登录</div></h2>
                        <form action="#" th:action="@{/admin/login}" class="ui large form" method="post">
                            <div class="ui segment">
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="user icon"></i>
                                        <input type="text" name="username" placeholder="用户名">
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input type="password" name="password" placeholder="密码">
                                    </div>
                                </div>
                                <button class="ui fluid large teal submit button">登录</button>
                            </div>

                            <div class="ui mini error message"></div>
                            <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名和密码错误</div>
                        </form>

                        <!--<div class="ui message">-->
                        <!--新用户？ <a href="login.php#">注册</a>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <!--/*/</th:block>/*/-->

    <script>
        $('.ui.form').form({
            fields : {
                username : {
                    identifier: 'username',
                    rules: [{
                        type : 'empty',
                        prompt: '请输入用户名'
                    }]
                },
                password : {
                    identifier: 'password',
                    rules: [{
                        type : 'empty',
                        prompt: '请输入密码'
                    }]
                }
            }
        });
    </script>
</body>
</html>