<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-weight, initial-scale=1.0">
    <title th:replace="${title}">博客详情</title>
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="bookmark" href="../static/images/favicon.ico" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/css/custom.css" th:href="@{/css/custom.css}">
    <link rel="stylesheet" href="../static/css/typo.css" th:href="@{/css/typo.css}">
    <link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" href="../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}">
    <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css" th:href="@{/lib/tocbot/tocbot.css}">
</head>
<body>
<!--video background-->
<div th:fragment="background" class="videoContainer">
    <video class="fullScreenVideo" poster="../static/images/bg.png" th:poster="@{/images/bg.png}" id="bgvid"
           playsinline="" autoplay="" muted="" loop="">
        <source src="../static/images/bg.mp4" th:src="@{/images/bg.mp4}" type="video/mp4">
    </video>
</div>

<!--导航-->
<nav th:fragment="nav-active(pageName)" class="ui inverted attached segment j-padded-tb-z-2 j-shadow j-opacity-9">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui violet inverted header item">Jinyu</h2>
            <a href="#" th:href="@{/}" class="j-item item j-mobile-hide"
               th:classappend="${pageName == '首页'} ? 'active'"><i class="home icon"></i>首页</a>
            <a href="#" th:href="@{/types/-1}" class="j-item item j-mobile-hide"
               th:classappend="${pageName == '分类'} ? 'active'"><i class="idea icon"></i>分类</a>
            <a href="#" th:href="@{/tags/-1}" class="j-item item j-mobile-hide"
               th:classappend="${pageName == '标签'} ? 'active'"><i class="tags icon"></i>标签</a>
            <a href="#" th:href="@{/archives}" class="j-item item j-mobile-hide"
               th:classappend="${pageName == '归档'} ? 'active'"><i class="clone icon"></i>归档</a>
            <a href="#" th:href="@{/aboutMe}" class="j-item item j-mobile-hide"
               th:classappend="${pageName == '关于我'} ? 'active'"><i class="info icon"></i>关于我</a>
            <div class="right j-item item j-mobile-hide">
                <form name="search" method="post" action="#" th:action="@{/search}" target="_blank">
                    <div class="ui input icon inverted transparent">
                        <input type="text" name="search" placeholder="Search..." th:value="${search}">
                        <i onclick="document.forms['search'].submit()" class="search icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button j-top-right j-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--底部footer-->
<footer th:fragment="footer" class="ui inverted vertical segment j-padded-tb-5 j-opacity-9">
    <div class="ui container center aligned">
        <div class="ui divided inverted stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.png" th:src="@{/images/wechat.png}" class="ui rounded image"
                             alt="" style="width: 9em">
                    </div>
                </div>
            </div>
            <div class="three wide column j-opacity-9">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <div class="item" th:text="#{footer.email}">Email：jinyu52370@qq.com</div>
                    <div class="item" th:text="#{footer.qq}">QQ：441366069</div>
                    <div class="item">WeChat：乁( ˙ ω˙乁)</div>
                </div>
            </div>
            <div class="three wide column j-opacity-9">
                <h4 class="ui inverted header">最新博客</h4>
                <div id="newestBlogs-container">
                    <div class="ui inverted link list" th:fragment="newestBlogList">
                        <a href="#" target="_blank" class="item"
                           th:href="@{/{id}(id=${blog.id})}"
                           th:each="blog : ${newestBlogs}"
                           th:text="${blog.title}">博客1</a>
                        <!--/*-->
                        <a href="" class="item">博客2</a>
                        <a href="" class="item">博客3</a>
                        <!--*/-->
                    </div>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header j-opacity-7">Jinyu</h4>
                <p class="j-opacity-5">这里是我的个人博客，我会记录一些编程、生活、爱好等内容(・ω< )★</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="j-text-lined j-text-spaced j-opacity-5" style="margin-top: 40px">
            Copyright © 2019 - 2020 Designed by Jinyu |
            <span id="runtime_span"></span>
        </p>
        <!--备案信息-->
        <p class="j-text-lined j-text-spaced j-opacity-5" style="font-size: small;margin-top: -8px">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=61011302001050"
               style="color: white">
                <img th:src="@{/images/备案图标.png}" style="height: 17px;width: 17px;margin-bottom: -3px">
                陕公网安备61011302001050号
            </a> |
            <a href="http://beian.miit.gov.cn/" target="_blank" style="color: white">陕ICP备2020013416号-1</a>
        </p>
    </div>
</footer>

<th:block th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
    <script src="../static/lib/tocbot/tocbot.min.js" th:src="@{/lib/tocbot/tocbot.min.js}"></script>
    <script src="../static/lib/qrcode/qrcode.min.js" th:src="@{/lib/qrcode/qrcode.min.js}"></script>
    <script src="../static/lib/jquery.scrollTo/jquery.scrollTo.min.js"
            th:src="@{/lib/jquery.scrollTo/jquery.scrollTo.min.js}"></script>
    <script src="../static/lib/jquery.waypoints/jquery.waypoints.min.js"
            th:src="@{/lib/jquery.waypoints/jquery.waypoints.min.js}"></script>
    <script>
        $('#newestBlogs-container').load(/*[[@{/footer/newestBlogs}]]*/"/footer/newestBlogs")
    </script>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    <script>
        //离开和回到页面时改变标题
        var originTitle = document.title, titleTime;
        document.addEventListener('visibilitychange', function () {
            if (document.hidden) {
                document.title = '|･ω･｀)藏...';
                clearTimeout(titleTime);
            } else {
                document.title = '(｡･ω･｡)ﾉ被发现啦！';
                titleTime = setTimeout(function () {
                    document.title = originTitle;
                }, 1500);
            }
        });

        // 百度统计
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?c2710cf13bbe1ef412de486475ffc4bb";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

        //网站运行时间
        function show_runtime() {
            window.setTimeout("show_runtime()", 1000);
            X = new Date("6/8/2020 00:00:00");
            Y = new Date();
            T = (Y.getTime() - X.getTime());
            M = 24 * 60 * 60 * 1000;
            a = T / M;
            A = Math.floor(a);
            b = (a - A) * 24;
            B = Math.floor(b);
            c = (b - B) * 60;
            C = Math.floor((b - B) * 60);
            D = Math.floor((c - C) * 60);
            runtime_span.innerHTML = "KeepAlive: " + A + "d " + B + "h " + C + "m " + D + "s"
        }

        // Valine评论插件
        new Valine({
            el: '#vcomments',
            appId: 'egwxHCtmN2VspWiPtmIiQWjt-gzGzoHsz',
            appKey: 'yqnL8Tz0xkgASbvxcTXUId1O',
            avatar: 'retro',
            visitor: true,
            placeholder: '这里是评论区~',
            enableQQ: true,
            // 设置Bilibili表情包地址
            emojiCDN: '//i0.hdslb.com/bfs/emote/',
            emojiMaps: {
                "tv_doge": "6ea59c827c414b4a2955fe79e0f6fd3dcd515e24.png",
                "tv_亲亲": "a8111ad55953ef5e3be3327ef94eb4a39d535d06.png",
                "tv_偷笑": "bb690d4107620f1c15cff29509db529a73aee261.png",
                "tv_再见": "180129b8ea851044ce71caf55cc8ce44bd4a4fc8.png",
                "tv_冷漠": "b9cbc755c2b3ee43be07ca13de84e5b699a3f101.png",
                "tv_发怒": "34ba3cd204d5b05fec70ce08fa9fa0dd612409ff.png",
                "tv_发财": "34db290afd2963723c6eb3c4560667db7253a21a.png",
                "tv_可爱": "9e55fd9b500ac4b96613539f1ce2f9499e314ed9.png",
                "tv_吐血": "09dd16a7aa59b77baa1155d47484409624470c77.png",
                "tv_呆": "fe1179ebaa191569b0d31cecafe7a2cd1c951c9d.png",
                "tv_呕吐": "9f996894a39e282ccf5e66856af49483f81870f3.png",
                "tv_困": "241ee304e44c0af029adceb294399391e4737ef2.png",
                "tv_坏笑": "1f0b87f731a671079842116e0991c91c2c88645a.png",
                "tv_大佬": "093c1e2c490161aca397afc45573c877cdead616.png",
                "tv_大哭": "23269aeb35f99daee28dda129676f6e9ea87934f.png",
                "tv_委屈": "d04dba7b5465779e9755d2ab6f0a897b9b33bb77.png",
                "tv_害羞": "a37683fb5642fa3ddfc7f4e5525fd13e42a2bdb1.png",
                "tv_尴尬": "7cfa62dafc59798a3d3fb262d421eeeff166cfa4.png",
                "tv_微笑": "70dc5c7b56f93eb61bddba11e28fb1d18fddcd4c.png",
                "tv_思考": "90cf159733e558137ed20aa04d09964436f618a1.png",
                "tv_惊吓": "0d15c7e2ee58e935adc6a7193ee042388adc22af.png",
                "tv_打脸": "56ab10b624063e966bfcb76ea5dc4794d87dfd47.png",
                "tv_抓狂": "fe31c08edad661d63762b04e17b8d5ae3c71a757.png",
                "tv_抠鼻": "c666f55e88d471e51bbd9fab9bb308110824a6eb.png",
                "tv_斜眼笑": "911f987aa8bc1bee12d52aafe62bc41ef4474e6c.png",
                "tv_无奈": "ea8ed89ee9878f2fece2dda0ea8a5dbfe21b5751.png",
                "tv_晕": "5443c22b4d07fb1907ccc610c8e6db254f2461b7.png",
                "tv_流汗": "cead1c351ab8d79e9f369605beb90148db0fbed3.png",
                "tv_流泪": "7e71cde7858f0cd50d74b0264aa26db612a8a167.png",
                "tv_流鼻血": "c32d39db2737f89b904ca32700d140a9241b0767.png",
                "tv_点赞": "f85c354995bd99e28fc76c869bfe42ba6438eff4.png",
                "tv_生气": "26702dcafdab5e8225b43ffd23c94ac1ff932654.png",
                "tv_生病": "8b0ec90e6b86771092a498c54f09fc94621c1900.png",
                "tv_疑问": "0793d949b18d7be716078349c202c15ff166f314.png",
                "tv_白眼": "c1d59f439e379ee50eef488bcb5e5378e5044ea4.png",
                "tv_皱眉": "72ccad6679fea0d14cce648b4d818e09b8ffea2d.png",
                "tv_目瞪口呆": "0b8cb81a68de5d5365212c99375e7ace3e7891b7.png",
                "tv_睡着": "8b196675b53af58264f383c50ad0945048290b33.png",
                "tv_笑哭": "1abc628f6d4f4caf9d0e7800878f4697abbc8273.png",
                "tv_腼腆": "89712c0d4af73e67f89e35cbc518420380a7f6f4.png",
                "tv_色": "61822c7e9aae5da76475e7892534545336b23a6f.png",
                "tv_调侃": "4bc022533ef31544ca0d72c12c808cf4a1cce3e3.png",
                "tv_调皮": "b9c41de8e82dd7a8515ae5e3cb63e898bf245186.png",
                "tv_鄙视": "6e72339f346a692a495b123174b49e4e8e781303.png",
                "tv_闭嘴": "c9e990da7f6e93975e25fd8b70e2e290aa4086ef.png",
                "tv_难过": "87f46748d3f142ebc6586ff58860d0e2fc8263ba.png",
                "tv_馋": "fc7e829b845c43c623c8b490ee3602b7f0e76a31.png",
                "tv_鬼脸": "0ffbbddf8a94d124ca2f54b360bbc04feb6bbfea.png",
                "tv_黑人问号": "45821a01f51bc867da9edbaa2e070410819a95b2.png",
                "tv_鼓掌": "1d21793f96ef4e6f48b23e53e3b9e42da833a0f6.png"
            }
        })
        // 动态添加访问数量id
        $('.visitor').attr('id', location.pathname);
        show_runtime();
    </script>
</th:block>
</body>
</html>
