<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-weight, initial-scale=1.0">
    <title>博客详情</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="stylesheet" href="../static/css/typo.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/lib/prism/prism.css">
    <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css">
</head>

<!--video background-->
<div th:replace="_fragments :: background" class="videoContainer">
    <video class="fullScreenVideo" poster="../static/images/bg.png" id="bgvid" playsinline="" autoplay="" muted=""
           loop="">
        <source src="../static/images/bg.mp4" type="video/mp4">
    </video>
</div>

<!--导航-->
<nav th:replace="_fragments :: nav-active(首页)"
     class="ui inverted attached segment j-padded-tb-z-2 j-shadow j-opacity-9">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui violet inverted header item">Jinyu</h2>
            <a href="" class="j-item item j-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="" class="j-item item j-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="" class="j-item item j-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="" class="j-item item j-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="" class="j-item item j-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="right j-item item j-mobile-hide">
                <div class="ui input icon inverted transparent">
                    <!--placeholder：占位符-->
                    <input type="text" placeholder="Search...">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button j-top-right j-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--内容-->
<div id="waypoint" class="j-padded-tb-3 j-container-80 animate__animated animate__fadeIn">
    <div class="ui container">
        <!--博客头-->
        <div class="ui top attached segment">
            <div class="ui horizontal link list">
                <!--我-->
                <div class="item">
                    <img src="http://via.placeholder.com/100x100" th:src="@{${blog.user.setting.avatar}}"
                         class="ui avatar image">
                    <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">今愚</a></div>
                </div>
                <!--时间-->
                <div class="item">
                    <i class="calendar icon"></i>
                    <span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">2020.5.26</span>
                </div>
                <!--浏览次数-->
                <div class="item">
                    <i class="eye icon"></i>
                    <span th:text="${blog.views}">233</span>
                </div>
            </div>
        </div>
        <!--博客图片-->
        <div class="ui attached segment">
            <img src="http://via.placeholder.com/800x500" th:src="@{${blog.picture}}" alt=""
                 class="ui fluid rounded image">
        </div>
        <!--博客内容-->
        <div class="ui attached segment">
            <!--转载/原创/翻译-->
            <a class="ui large red right ribbon label" th:text="${blog.flag}">原创</a>
            <!--博客标题-->
            <h2 class="ui centered aligned header" th:text="${blog.title}">JavaSE</h2>
            <!--博客内容-->
            <div id="content" th:utext="${blog.content}"
                 class="typo js-toc-content j-padded-rl-5-responsive j-padded-tb-3">
                <!--语法高亮-->
                <pre><code class="language-css">p {color: red}</code></pre>
            </div>
            <!--博客分类-->
            <div class="j-padded-tb-z-5 j-padded-rl-5-responsive">
                <a href="#" target="_blank" class="ui blue label j-text-thin"
                   th:text="${blog.type.name}"
                   th:href="@{/types/{id}(id=${blog.type.id})}">认知升级</a>
            </div>
            <!--博客标签-->
            <div class="j-padded-tb-z-5 j-padded-rl-5-responsive">
                <a href="#" target="_blank" class="ui violet left pointing label j-text-thin"
                   th:each="tag : ${blog.tags}"
                   th:text="${tag.name}"
                   th:href="@{/tags/{id}(id=${tag.id})}">方法论</a>
            </div>
            <th:block th:if="${blog.appreciation}">
                <!--赞赏-->
                <div class="ui center aligned basic segment">
                    <button id="payButton" class="ui red basic circular button">赞赏</button>
                </div>
                <!--点击弹出二维码-->
                <div class="ui payPopupWindow flowing popup transition hidden">
                    <div class="ui black basic label">
                        <div class="ui images" style="font-size: inherit">
                            <div class="ui image">
                                <img src="../static/images/wechat.png" th:src="@{/images/wechat.png}" alt=""
                                     class="ui rounded bordered image" style="width: 150px;">
                                <div>支付宝</div>
                            </div>
                            <div class="ui image">
                                <img src="../static/images/wechat.png" th:src="@{/images/wechat.png}" alt=""
                                     class="ui rounded bordered image" style="width: 150px;">
                                <div>微信</div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
        <!--博客信息说明-->
        <div class="ui attached positive message" th:if="${blog.shareStatement}">
            <div class="ui middle aligned grid">
                <!--信息说明-->
                <div class="eleven wide j-padded-rl-2 column">
                    <ui class="list">
                        <li>
                            作者：<span th:text="${blog.user.nickname}">jinyu</span>
                            <a href="#" th:href="@{/forMe}" target="_blank">(联系作者)</a>
                        </li>
                        <li>发表时间：<span th:text="${#dates.format(blog.createTime,'yyyy-MM-dd HH:mm')}"></span></li>
                        <li>版权声明：自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</li>
                        <li>公众号转载：→</li>
                    </ui>
                </div>
                <!--二维码-->
                <div class="five wide j-padded-rl-2 column">
                    <img src="../static/images/wechat.png" th:src="@{/images/wechat.png}" alt=""
                         class="ui right floated rounded bordered image" style="width: 120px">
                </div>
            </div>
        </div>
        <!--博客评论区-->
        <div class="ui bottom attached segment" th:if="${blog.comment}">
            <!--博客留言列表-->
            <div id="comment-container" class="ui violet segment">
                <div th:fragment="commentList">
                    <div class="ui comments" style="max-width: 100%;">
                        <h3 class="ui dividing header">评论</h3>
                        <div class="comment" th:each="comment : ${comments}">
                            <a class="avatar">
                                <img src="../static/images/514.png" th:src="@{${comment.avatar}}">
                            </a>
                            <div class="content">
                                <a class="author">
                                    <span th:text="${comment.nickname}">Matt</span>
                                    <div class="ui aligned basic tiny violet left pointing label
                                            j-padded-tb-z-4
                                            j-padded-rl-z-5
                                            j-text-thin-500"
                                         th:if="${comment.adminComment}">
                                        博主
                                    </div>
                                </a>
                                <div class="metadata">
                                        <span class="date"
                                              th:text="${#dates.format(comment.createTime, 'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                </div>
                                <div class="text" th:text="${comment.content}">
                                    How artistic!
                                </div>
                                <div class="actions">
                                    <a class="reply"
                                       data-comment-id="1" data-comment-nickname="Matt"
                                       th:attr="data-comment-id=${comment.id}, data-comment-nickname=${comment.nickname}"
                                       onclick="reply(this)">
                                        回复
                                    </a>
                                </div>
                            </div>
                            <!--子回复-->
                            <div class="comments" th:if="${#arrays.length(comment.replyComments)} > 0">
                                <div class="comment" th:each="reply : ${comment.replyComments}">
                                    <a class="avatar">
                                        <img src="../static/images/514.png" th:src="@{${reply.avatar}}">
                                    </a>
                                    <div class="content">
                                        <a class="author">
                                            <span th:text="${reply.nickname}">马嬲</span>
                                            <div class="ui aligned basic tiny violet left pointing label
                                                    j-padded-tb-z-4
                                                    j-padded-rl-z-5
                                                    j-text-thin-500"
                                                 th:if="${reply.adminComment}">
                                                博主
                                            </div>
                                            &nbsp;
                                            <span th:text="|@${reply.parentComment.nickname}|"
                                                  class="j-blue">笨比小蓝</span>
                                        </a>
                                        <div class="metadata">
                                                <span class="date"
                                                      th:text="${#dates.format(reply.createTime, 'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                        </div>
                                        <div class="text" th:text="${reply.content}">
                                            How artistic!
                                        </div>
                                        <div class="actions">
                                            <a class="reply"
                                               data-comment-id="1" data-comment-nickname="Matt"
                                               th:attr="data-comment-id=${reply.id}, data-comment-nickname=${reply.nickname}"
                                               onclick="reply(this)">
                                                回复
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/*-->
                        <div class="comment">
                            <a class="avatar">
                                <img src="../static/images/514.png" th:src="@{/images/514.png}">
                            </a>
                            <div class="content">
                                <a class="author">Elliot Fu</a>
                                <div class="metadata">
                                    <span class="date">Yesterday at 12:30AM</span>
                                </div>
                                <div class="text">
                                    <p>This has been very useful for my research. Thanks as well!</p>
                                </div>
                                <div class="actions">
                                    <a class="reply">回复</a>
                                </div>
                            </div>
                            <div class="comments">
                                <div class="comment">
                                    <a class="avatar">
                                        <img src="../static/images/514.png" th:src="@{/images/514.png}">
                                    </a>
                                    <div class="content">
                                        <a class="author">Jenny Hess</a>
                                        <div class="metadata">
                                            <span class="date">Just now</span>
                                        </div>
                                        <div class="text">
                                            Elliot you are always so right :)
                                        </div>
                                        <div class="actions">
                                            <a class="reply">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="../static/images/514.png" th:src="@{/images/514.png}">
                            </a>
                            <div class="content">
                                <a class="author">Joe Henderson</a>
                                <div class="metadata">
                                    <span class="date">5 days ago</span>
                                </div>
                                <div class="text">
                                    Dude, this is awesome. Thanks so much
                                </div>
                                <div class="actions">
                                    <a class="reply">回复</a>
                                </div>
                            </div>
                        </div>
                        <!--*/-->
                    </div>
                </div>
            </div>
            <!--博客填写留言区域-->
            <div class="ui form">
                <input type="hidden" name="blog.id" th:value="${blog.id}">
                <input type="hidden" name="parentComment.id" value="-1">
                <div class="field">
                    <textarea name="content" placeholder="这里是评论区!~"></textarea>
                </div>
                <div class="fields">
                    <div class="field j-mobile-wide j-margin-b-z9-responsive">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="nickname" placeholder="姓名"
                                   th:value="${session.user} != null ? ${session.user.nickname}">
                        </div>
                    </div>
                    <div class="field j-mobile-wide j-margin-b-z9-responsive">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" name="email" placeholder="邮箱"
                                   th:value="${session.user} != null ? ${session.user.email}">
                        </div>
                    </div>
                    <div class="field j-mobile-wide">
                        <button id="comment-post-btn" type="button" class="ui blue button j-mobile-wide">发布</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--目录-->
<div id="toc" class="j-fixed j-opacity-9 j-mobile-hide animate__animated animate__fadeInRight"
     style="top: 75px;right: 5px">
    <div class="ui bottom segment j-padded-tb-z-5" style="width: 270px;">
        <ol class="js-toc j-padded-rl-1"></ol>
    </div>
</div>

<!--右下角工具条-->
<div id="toolbar" class="j-fixed j-padded-z-5 j-bottom-right j-opacity-9" style="display: none">
    <div class="ui vertical icon buttons">
        <!--目录按钮-->
        <button id="toc_button" type="button" class="ui button"><i class="list ol icon"></i></button>
        <!--微信扫码以手机端阅读-->
        <button id="wechat" class="ui icon button"><i class="wechat icon"></i></button>
        <!--跳转到评论-->
        <a href="#comment-container" type="button" class="ui button"><i class="comment alternate icon"></i></a>
        <!--跳转到导航-->
        <div id="toTop-button" class="ui icon button"><i class="chevron up icon"></i></div>
    </div>
</div>

<!--弹出微信二维码以在手机上阅读-->
<div id="qrcode" class="ui wechatQR flowing popup transition hidden" style="width: 135px">
    <h4 class="ui center aligned header">在手机上阅读</h4>
</div>

<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment j-padded-tb-5 j-opacity-9">
    <div class="ui container center aligned">
        <div class="ui divided inverted stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.png" class="ui rounded image" alt="" style="width: 9em">
                    </div>
                </div>
            </div>
            <div class="three wide column j-opacity-9">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list">
                    <div class="item">Email：jinyu52370@qq.com</div>
                    <div class="item">QQ：441366069</div>
                    <div class="item">WeChat：乁( ˙ ω˙乁)</div>
                </div>
            </div>
            <div class="three wide column j-opacity-9">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="" class="item">博客1</a>
                    <a href="" class="item">博客2</a>
                    <a href="" class="item">博客3</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header j-opacity-7">Jinyu</h4>
                <p class="j-opacity-5">这里是我的个人博客，我会记录一些编程、生活、爱好等内容(・ω< )★</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="j-text-lined j-text-spaced j-opacity-5">
            Copyright © 2019 - 2020 Designed by Jinyu
        </p>
    </div>
</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<script src="../static/lib/prism/prism.js"></script>
<script src="../static/lib/tocbot/tocbot.min.js"></script>
<script src="../static/lib/qrcode/qrcode.min.js"></script>
<script src="../static/lib/jquery.scrollTo/jquery.scrollTo.min.js"></script>
<script src="../static/lib/jquery.waypoints/jquery.waypoints.min.js"></script>
<!--/*/</th:block>/*/-->

<!--custom-->
<script th:inline="javascript">
    // 设置手机端的导航菜单按钮点击显示菜单
    $('.menu.toggle').click(function () {
        $('.j-item').toggleClass('j-mobile-hide')
    });
    // 点击赞赏弹出支付二维码
    $('#payButton').popup({
        popup: $('.payPopupWindow.popup'),
        on: 'click',
        position: 'top center'
    });
    var tocShow = true;
    // 点击目录弹出目录结构
    $('#toc_button').click(function () {
        if (tocShow) {
            $('#toc').hide();
            tocShow = false;
        } else {
            $('#toc').show()
            tocShow = true;
        }
    })
    //初始化目录插件
    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '.js-toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.js-toc-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3',
        // For headings inside relative or absolute positioned containers within content.
        hasInnerContainers: true,
    });
    //点击微信图标显示二维码
    $('#wechat').popup({
        popup: $('.wechatQR'),
        position: 'left center'
    });
    var serverUrl = /*[[#{blog.serverUrl}]]*/"";
    var url = /*[[@{/blog/{id}(id=${blog.id})}]]*/"";
    //点击微信图标显示二维码
    var qrcode = new QRCode("qrcode", {
        text: serverUrl + url,
        width: 110,
        height: 110,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });
    // 跳转到导航栏
    $('#toTop-button').click(function () {
        $(window).scrollTo(0, 800);
    });
    //滚动感知
    var waypoint = new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function (direction) {
            if (direction === 'down') {
                $('#toolbar').show(100);
            } else {
                $('#toolbar').hide(100);
            }
            // console.log('Scrolled to waypoint!')
        }
    });
    //发布博客表单验证
    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入博客评论内容'
                }]
            },
            content: {
                identifier: 'nickname',
                rules: [{
                    type: 'empty',
                    prompt: '请输入昵称'
                }]
            },
            type: {
                identifier: 'email',
                rules: [{
                    type: 'email',
                    prompt: '请输入正确的邮箱地址'
                }]
            }
        }
    });
    // 评论发布按钮
    $('#comment-post-btn').click(function () {
        var result = $('.ui.form').form('validate form');
        if (result) {
            console.log("校验成功");
            postData();
        } else {
            console.log("校验失败");
        }
    });

    // 回复区信息
    function postData() {
        $("#comment-container").load(/*[[@{/comments}]]*/"", {
            "parentComment.id": $("[name='parentComment.id']").val(),
            "blog.id": $("[name='blog.id']").val(),
            "nickname": $("[name='nickname']").val(),
            "email": $("[name='email']").val(),
            "content": $("[name='content']").val()
        }, function (responseTxt, statusTxt, xhr) {
//        $(window).scrollTo($('#comment-container'),500);
            clearContent();
        });
    }

    // 清除回复区信息
    function clearContent() {
        $("[name='content']").val('');
        $("[name='parentComment.id']").val(-1);
        $("[name='content']").attr("placeholder", "这里是评论区!~");
    }

    // 回复
    function reply(obj) {
        var commentId = $(obj).data('comment-id');
        var commentNickname = $(obj).data('comment-nickname');
        $("[name='content']").attr("placeholder", "@" + commentNickname).focus();
        $("[name='parentComment.id']").val(commentId);
        $(window).scrollTo($('#comment-form'), 500);
    }

    $(function () {
        $("#comment-container").load(/*[[@{/comments/{id}(id=${blog.id})}]]*/)
    })
</script>
</body>
</html>
